@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container for label and switch */
.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between label and switch */
  }
  
  /* The switch - the box around the slider */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Adjusted width */
    height: 20px; /* Adjusted height */
  }
  
  /* Hide default HTML checkbox */
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px; /* Adjusted border-radius */
  }
  
  /* The circle inside the slider */
  .toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 14px; /* Adjusted height */
    width: 14px; /* Adjusted width */
    left: 3px; /* Adjusted position */
    bottom: 3px; /* Adjusted position */
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Checkbox checked */
  input:checked + .slider {
    background-color: #6E0080;
  }
  
  /* Move the slider when checked */
  input:checked + .slider::before {
    transform: translateX(20px); /* Adjusted translation */
  }
  
  